openapi: 3.0.4
info:
  title: Truth or Dare
  description: >-
    Truth or Dare generates random truth questions and dare challenges for the
    classic party game. Features 400+ unique prompts with per-API-key tracking
    to avoid repeats.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/truthordare:
    get:
      summary: Generate Prompt
      description: Generate a truth or dare prompt
      operationId: truthordare
      parameters:
        - name: type
          in: query
          schema:
            type: string
          required: false
          description: 'Prompt type: truth, dare, or random'
          example: random
        - name: adult
          in: query
          schema:
            type: boolean
          required: false
          description: Include adult/spicy prompts
          example: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  type: truth
                  prompt: What is the weirdest thing you've ever eaten?
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
